@color_txt_yellow:#E5C88B;
@color_txt_lightRed:#E0877F;
@bg_dark_black:#262626;
@border_dark_black:#0F0F0F;
@base_color: #e5e5e5;
@bg_color__yellow: #E5C88B;
@color_txt_blue: #1182FD;
@border_grey:#dedede;